<html>
<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body class="container">
	<br>
	<center><h3>Update your details here</h3></center>
	<br>
	<form action="/user/updateUser" method="POST">
		<div class="form-group">
		<table class="table">
			<tr scope="row">
				<td>Update email</td>
				<td><input type="email" name="useremail" value="<%= myuser.useremail %>" readonly="readonly"/></td>
			</tr scope="row">
			<tr scope="row">
				<td>Update Name</td>
				<td><input type="text" name="username" value="<%= myuser.username %>" /></td>
			</tr>
			<tr scope="row">
				<td>update phone</td>
				<td><input type="number" name="mobile" minlength="10" maxlength="12" value="<%= myuser.mobile %>" /></td>
			</tr>
			<tr scope="row">
				<td>update password</td>
				<td><input type="password" name="password" value="<%= myuser.password %>" /></td>
			</tr>
			<tr scope="row">
				<td><a href="/user/home"><button class="btn btn-danger mb-2">Cancel Update</button></a></td>
				<td><button class="btn btn-primary mb-2" type="submit">Update My Details</button></td>
			</tr>
		</table>
	</div>
	</form>
</body>